/* line 3, ../scss/_main.scss */
* {
  /* apply a natural box layout model to all elements */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 13, ../scss/_main.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* WebKit browsers */
/* line 14, ../scss/_main.scss */
:-moz-placeholder {
  color: #999999;
}

/* Mozilla Firefox 4 to 18 */
/* line 15, ../scss/_main.scss */
::-moz-placeholder {
  color: #999999;
}

/* Mozilla Firefox 19+ */
/* line 16, ../scss/_main.scss */
:-ms-input-placeholder {
  color: #999999;
}

/* Internet Explorer 10+ */
/* line 18, ../scss/_main.scss */
body, html {
  height: 100%;
  outline: none;
}

/* line 24, ../scss/_main.scss */
img {
  vertical-align: bottom;
}

/* line 29, ../scss/_main.scss */
input, textarea, select, button {
  outline: none;
  resize: none;
}

/* line 35, ../scss/_main.scss */
a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

/* line 40, ../scss/_main.scss */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}

/* line 45, ../scss/_main.scss */
body {
  background-color: #FFFFFF;
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: #777777;
  overflow-x: hidden;
}

/* line 56, ../scss/_main.scss */
input.parsley-error, select.parsley-error, textarea.parsley-error {
  border: 1px solid #EED3D7 !important;
}

/* line 61, ../scss/_main.scss */
.parsley-errors-list {
  margin: 2px 0 3px !important;
  padding: 0 !important;
  list-style-type: none !important;
  opacity: 0 !important;
  transition: all .3s ease-in !important;
  color: #B94A48 !important;
  font-size: 12px !important;
  line-height: 12px !important;
  font-weight: 400 !important;
  padding-top: 2px !important;
  padding-left: 10px !important;
}

/* line 76, ../scss/_main.scss */
.parsley-errors-list.filled {
  opacity: 1 !important;
}

/* line 81, ../scss/_main.scss */
.contenedor {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* line 90, ../scss/_main.scss */
.section h1 {
  font-size: 22px;
  line-height: 22px;
  color: #EA0B1E;
  text-transform: uppercase;
  padding: 48px 0 24px 0;
  margin: 0;
  font-weight: 700;
  border-bottom: 1px solid #AEAEAE;
}
/* line 102, ../scss/_main.scss */
.section h2 {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 24px 0;
  font-weight: 700;
}
/* line 112, ../scss/_main.scss */
.section .fieldset {
  margin-bottom: 6px;
}
/* line 116, ../scss/_main.scss */
.section .fieldset .field {
  margin: 0;
  height: 60px;
}
/* line 122, ../scss/_main.scss */
.section .fieldset .field.field-textarea {
  height: auto;
}
/* line 127, ../scss/_main.scss */
.section .fieldset .field input, .section .fieldset .field select, .section .fieldset .field textarea {
  width: 100%;
  height: 38px;
  font-size: 16px;
  border: 1px solid #B9B9B9;
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 140, ../scss/_main.scss */
.section .fieldset .field textarea {
  height: 128px;
  padding-top: 5px;
}
/* line 146, ../scss/_main.scss */
.section .fieldset .field .select2-container {
  width: 100% !important;
}
/* line 151, ../scss/_main.scss */
.section .fieldset .field .select2-container .select2-selection--single {
  height: 38px;
  border: 1px solid #B9B9B9;
}
/* line 157, ../scss/_main.scss */
.section .fieldset .field.parsley-error .select2-container .select2-selection--single {
  border: 1px solid #EED3D7 !important;
}
/* line 162, ../scss/_main.scss */
.section .fieldset .field .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
  font-size: 16px;
  color: #777777;
  padding-left: 10px;
  padding-right: 38px;
}
/* line 171, ../scss/_main.scss */
.section .fieldset .field .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 36px;
  height: 36px;
  background-color: #B9B9B9;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
/* line 179, ../scss/_main.scss */
.section .fieldset .field .select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 7px;
  margin-left: -5px;
  margin-top: -3px;
  background: transparent url(../img/select2-carret.png) top left no-repeat;
  border: none;
}
/* line 192, ../scss/_main.scss */
.section .fieldset .field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 0 0;
}
/* line 197, ../scss/_main.scss */
.section .fieldset .field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-position: bottom left;
}
/* line 204, ../scss/_main.scss */
.section .buttons {
  text-align: right;
}
/* line 208, ../scss/_main.scss */
.section .buttons button {
  display: inline-block;
  width: 118px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  background-color: #EA0B1E;
  border: none;
  letter-spacing: 1px;
}
/* line 226, ../scss/_main.scss */
.section #terms {
  margin: 70px 0;
}
/* line 230, ../scss/_main.scss */
.section #terms p {
  display: block;
  width: 100%;
  padding: 24px 22px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #C4C4C4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 240, ../scss/_main.scss */
.section #terms p span {
  color: #FFB314;
}
/* line 242, ../scss/_main.scss */
.section #terms p a, .section #terms p a:link, .section #terms p a:visited, .section #terms p a:active, .section #terms p a:hover {
  color: #FFB314;
  font-weight: 600;
  text-decoration: underline;
}

/* line 252, ../scss/_main.scss */
.nav2 li a.findadealer, .nav2 li a.testdrive, .nav2 li a.brochure, .nav2 li a.cotizar, .nav2 li a.bookaservice1, .nav2 li a.bookaservice2 {
  height: 41px !important;
}

/* line 257, ../scss/_main.scss */
.main_visual img {
  width: 100%;
}
