/*Comparador*/

.header, .bloque-breadcrumb, .bloque-escoger, .bloque-boxes, .bloque_footer, .bloque-comparador .close, .bloque-comparador .container .row:nth-child(2), .bloque-comparador .container .row:nth-child(3), .bloque-comparador .container .row:nth-child(5), .bloque-comparador .container .row:nth-child(1) p {
	display: none !important;
}

.bloque-comparador .container .row:nth-child(1) hr, .bloque-especificaciones .container .row:nth-child(1) hr {
	border-color: black;
}

.bloque-comparador.open, .bloque-comparador.open.transform, .bloque-especificaciones.open, .bloque-especificaciones.open.transform {
    top: 0 !important;
}

h2, p, li, a {
	color: black !important;
}

.bloque-comparador .panel-group .panel>.panel-heading h4.panel-title a, .bloque-especificaciones .panel-group .panel>.panel-heading h4.panel-title a {
	color: black;
    font-size: 1.5rem;
}

.bloque-comparador, .bloque-especificaciones {
	height: auto !important;
	position: relative !important;
}

.bloque-comparador .collapse, .bloque-especificaciones .collapse{
	display: block !important;
	height: auto !important;
}

/*Especificaciones*/

.bloque-intro, .bloque-slider, .bloque-tipos-modelos, .bloque-conocelo, .bloque-caracteristicas, .bloque-color, .bloque-galeria, .bloque-concesionarios-ubicacion, .bloque-modelos-relacionados, .bloque-especificaciones .container .row:last-child {
	display: none !important;
}


/*Comparador Home*/

.bloque-breadcrumb, .header, .bloque-slider, .bloque-cotizar-home, .bloque-triptico-home, .bloque-modelos-home, .bloque-concesionarios-home, .bloque-promo-home, .bloque-promo-home, .bloque-eventos-home, .bloque-news-home, .bloque-search, .bloque_footer {
	display: none !important;
}