@font-face {
  font-family: 'Toyota Display';
  src: url("../fonts/toyota/display_regular/toyotadisplay_rg-webfont.eot");
  src: url("../fonts/toyota/display_regular/toyotadisplay_rg-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/toyota/display_regular/toyotadisplay_rg-webfont.html") format("woff2"), url("../fonts/toyota/display_regular/toyotadisplay_rg-webfont.woff") format("woff"), url("../fonts/toyota/display_regular/toyotadisplay_rg-webfont.ttf") format("truetype"), url("../fonts/toyota/display_regular/toyotadisplay_rg-webfont.svg#toyota_displayregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota Display';
  src: url("../fonts/toyota/display_bold/toyotadisplay_bd-webfont.eot");
  src: url("../fonts/toyota/display_bold/toyotadisplay_bd-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/toyota/display_bold/toyotadisplay_bd-webfont.html") format("woff2"), url("../fonts/toyota/display_bold/toyotadisplay_bd-webfont.woff") format("woff"), url("../fonts/toyota/display_bold/toyotadisplay_bd-webfont.ttf") format("truetype"), url("../fonts/toyota/display_bold/toyotadisplay_bd-webfont.svg#toyota_displaybold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Toyota Display';
  src: url("../fonts/toyota/display_heavy/toyotadisplay_he-webfont.eot");
  src: url("../fonts/toyota/display_heavy/toyotadisplay_he-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/toyota/display_heavy/toyotadisplay_he-webfont.html") format("woff2"), url("../fonts/toyota/display_heavy/toyotadisplay_he-webfont.woff") format("woff"), url("../fonts/toyota/display_heavy/toyotadisplay_he-webfont.ttf") format("truetype"), url("../fonts/toyota/display_heavy/toyotadisplay_he-webfont.svg#toyota_displayheavy") format("svg");
  font-weight: 800;
  font-style: normal;
}
/* line 6, ../scss/_main.scss */
* {
  outline: none !important;
}

.row-centrado-horizontal
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo
{
  margin: 0;
  margin-bottom: 35px;
  font-size: 56px;
  text-transform: uppercase;
  color: #c91123;
  font-family: 'Toyota Display';
  letter-spacing: 0.5px;
  font-weight: 800;
}

.titulo span
{
  display: block;
  font-family: Toyota Display;
  color: #4f4f4f;
  font-size: 43px;
  font-weight: 400;
}

.titulo-2
{
  margin: 0;
  margin-bottom: 75px;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}

.titulo-2 span
{
  display: block;
  font-family: toyotadisplay_rg;
}

.solo-desktop
{
  display: block;
}

.solo-mobile
{
  display: none;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

/* line 7, ../scss/_select2.scss */
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 14, ../scss/_select2.scss */
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 21, ../scss/_select2.scss */
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

/* line 23, ../scss/_select2.scss */
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

/* line 26, ../scss/_select2.scss */
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 33, ../scss/_select2.scss */
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 39, ../scss/_select2.scss */
.select2-container .select2-search--inline {
  float: left;
}

/* line 41, ../scss/_select2.scss */
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

/* line 47, ../scss/_select2.scss */
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 50, ../scss/_select2.scss */
.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

/* line 61, ../scss/_select2.scss */
.select2-results {
  display: block;
}

/* line 64, ../scss/_select2.scss */
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 69, ../scss/_select2.scss */
.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

/* line 73, ../scss/_select2.scss */
.select2-results__option[aria-selected] {
  cursor: pointer;
}

/* line 76, ../scss/_select2.scss */
.select2-container--open .select2-dropdown {
  left: 0;
}

/* line 79, ../scss/_select2.scss */
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 84, ../scss/_select2.scss */
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 89, ../scss/_select2.scss */
.select2-search--dropdown {
  display: block;
  padding: 4px;
}

/* line 92, ../scss/_select2.scss */
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* line 96, ../scss/_select2.scss */
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 98, ../scss/_select2.scss */
.select2-search--dropdown.select2-search--hide {
  display: none;
}

/* line 101, ../scss/_select2.scss */
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

/* line 118, ../scss/_select2.scss */
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

/* line 128, ../scss/_select2.scss */
.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

/* line 132, ../scss/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 135, ../scss/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

/* line 139, ../scss/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 141, ../scss/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

/* line 147, ../scss/_select2.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 159, ../scss/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 162, ../scss/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

/* line 166, ../scss/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

/* line 169, ../scss/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

/* line 172, ../scss/_select2.scss */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 176, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

/* line 181, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

/* line 187, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

/* line 189, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

/* line 193, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

/* line 199, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 208, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

/* line 214, ../scss/_select2.scss */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

/* line 217, ../scss/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

/* line 220, ../scss/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 224, ../scss/_select2.scss */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 228, ../scss/_select2.scss */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

/* line 232, ../scss/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

/* line 236, ../scss/_select2.scss */
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

/* line 239, ../scss/_select2.scss */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 243, ../scss/_select2.scss */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 247, ../scss/_select2.scss */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

/* line 250, ../scss/_select2.scss */
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

/* line 257, ../scss/_select2.scss */
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 261, ../scss/_select2.scss */
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

/* line 264, ../scss/_select2.scss */
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

/* line 267, ../scss/_select2.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

/* line 270, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

/* line 272, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

/* line 274, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

/* line 277, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

/* line 280, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

/* line 283, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

/* line 286, ../scss/_select2.scss */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

/* line 290, ../scss/_select2.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

/* line 294, ../scss/_select2.scss */
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 299, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

/* line 309, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

/* line 311, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

/* line 314, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

/* line 319, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

/* line 321, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

/* line 337, ../scss/_select2.scss */
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 349, ../scss/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

/* line 352, ../scss/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

/* line 361, ../scss/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

/* line 363, ../scss/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

/* line 366, ../scss/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

/* line 370, ../scss/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

/* line 380, ../scss/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

/* line 390, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

/* line 396, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

/* line 398, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

/* line 402, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

/* line 404, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

/* line 413, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

/* line 419, ../scss/_select2.scss */
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

/* line 422, ../scss/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

/* line 425, ../scss/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

/* line 429, ../scss/_select2.scss */
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 433, ../scss/_select2.scss */
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

/* line 436, ../scss/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 441, ../scss/_select2.scss */
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 446, ../scss/_select2.scss */
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

/* line 450, ../scss/_select2.scss */
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

/* line 454, ../scss/_select2.scss */
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

/* line 458, ../scss/_select2.scss */
.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

/* line 461, ../scss/_select2.scss */
.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

/* line 464, ../scss/_select2.scss */
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

/* line 468, ../scss/_select2.scss */
.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

/* line 471, ../scss/_select2.scss */
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

/* line 474, ../scss/_select2.scss */
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

/* line 478, ../scss/_select2.scss */
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

/* line 483, ../scss/_select2.scss */
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

form {
  margin: 0 auto;
}

form .field
{
  position: relative;
  padding-top: 0px;
  padding-bottom: 15px;
  width: 100%;
}

form .field input {
    width: 100%;
    height: 32px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #828282;
}

form .field .select2 {
    width: 100% !important;
    text-align: left;
    font-size: 13px;
}

form .field .select2 .selection .select2-selection {
    height: 32px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #828282;
}

form .field .select2 .selection .select2-selection .select2-selection__rendered {
    line-height: 30px;
    padding-right: 25px;
    padding-left: 18px;
    color: #555555;
}

form .field .select2 .selection .select2-selection .select2-selection__arrow {
    width: 30px;
    height: 30px;
    border-left: 0;
    background-image: url(../img/arrow-cb.png);
    background-position: center center;
    background-repeat: no-repeat;
}

form .field .select2 .selection .select2-selection .select2-selection__arrow b {
    border-color: #979797 transparent transparent transparent;
    display: none;
}

form button {
    display: inline-block;
    width: 60%;
    max-width: 220px;
    height: 35px;
    margin: 25px 20px 0;
    background-color: #ff1435;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}

form .d-obligatorios{
    margin-bottom: 15px;
}

form .d-obligatorios p {
    color: #000;
}

form .terminos {
  font-weight: normal;
  padding-left: 32px;
  font-size: .8em;
  position: relative;
}
/* line 279, ../scss/_form.scss */
form .terminos span {
  display: inline-block;
  vertical-align: middle;
}
/* line 284, ../scss/_form.scss */
form .terminos a {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;
}
/* line 289, ../scss/_form.scss */
form .terminos input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    top: 0;
    visibility: hidden;
}
/* line 293, ../scss/_form.scss */
form .terminos input[type="checkbox"] + span.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background-size: 100%;
  cursor: pointer;
  border: 2px solid #979797;
  border-radius: 15px;
  position: absolute;
  left: 5px;
  z-index: 999;
}
/* line 307, ../scss/_form.scss */
form .terminos input[type="checkbox"]:checked + span.check {
  background: url(../img/checkbox-check2.png);
  background-size: 100%;
}

form .field textarea {
    width: 100%;
    padding: 6px 15px;
    background-color: #fff;
    color: #000;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #828282;
}

form .field.checkb
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trama-form
{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  opacity: 0.5;
}

.trama-form.open
{
  display: block;
}

.trama-form:after{
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border-radius:50%;
  border:3px solid transparent;
  border-top-color:#8b7f6a;
  -webkit-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
}

.acordion
{
  position: relative;
  background-color: #c91123;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  padding: 10px 45px 10px 15px;
  font-size: 14.3px;
  font-family: "toyotadisplay_rg";
  border-radius: 5px;
  cursor: pointer;

}

.acordion i
{
  position: absolute;
  top: 14.3px;
  right: 15px;
}

.acordion:first-child
{
  margin-top: 0px;
}

.cuerpo-acordion
{
  font-size: 14.3px;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 50px;
}

.cuerpo-acordion a
{
  color: #000;
  font-weight: 700;
  text-decoration: underline;
}

.cuadrado-perfecto
{
  position: relative;
  padding-bottom: 56.25%;
}

.cuadrado-perfecto iframe
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#banners{

}

#banners img{
  width: 100%;
  height: auto;
}

#menu-gris
{
  background-color: #dfdfdf;
  padding-bottom: 25px;
  padding-top: 25px;
}

#menu-gris.fixed
{
    position: fixed;
    top: 4rem;
    z-index: 1000;
    width: 100%;
}

#menu-gris .container
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#menu-gris ul
{
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#menu-gris ul li
{
  padding: 0 10px;
}

#menu-gris ul li:last-child
{
  padding-right:0;
}

#menu-gris ul li a
{
  text-decoration: none;
  color: #4f4f4f;
  font-size: 0.7rem;
}

#menu-gris ul li a:hover
{
  color: #c91123;
}

#beneficios
{
  background-color: #fff;
  padding-bottom: 90px;
  padding-top:90px;
}

#beneficios .titulo
{
  margin-bottom: 75px;
}

#beneficios .bloque-beneficio
{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 67px;
}

#beneficios .bloque-numero
{
  background-color: #30302f;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 6px;
  transform: translateY(-50%);
  line-height: 1;
}

#beneficios .bloque-beneficio-icono
{
    background-color: #c91123;
    color: #fff;
    position: relative;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    order: 1;
}

#beneficios .bloque-beneficio-icono:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: #fff;
  transform: skewX(10deg) translateX(-50%);
}

#beneficios .bloque-beneficio-icono h3
{
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: 'Toyota Display';
    letter-spacing: 0.5px;
    font-weight: 800;
}

#beneficios .bloque-beneficio-icono img
{
    padding: 0 35px 0 0;
    display: block;
    border-right: 1px solid #fff;
    width: auto;
    height: 61px;
    position: relative;
}


#beneficios .bloque-beneficio-icono i
{
  font-size: 20px;
}

#beneficios .bloque-beneficio-cuerpo
{
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    line-height: 1.2;
    order: 2;
}

#beneficios .bloque-beneficio-cuerpo p i
{
  font-size: 12px;
}

#beneficios .bloque-beneficio:last-child
{
  margin-bottom: 0;
}

#terminos_toyota-error
{
  display: block;
}

@media(min-width: 1200px)
{
  #beneficios .line-vertical
  {
    position: relative;
  }

  #beneficios .line-vertical:before
  {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #c91123;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
  }

  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-icono
  {
      flex-direction: row-reverse;
      order: 2;
  }


  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-icono .bloque-numero
  {
    right: auto;
    left: 0;
  }

  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-icono img
  {
    padding-right: 0;
    padding-left: 35px;
    border-right: none;
    border-left: 1px solid #fff;
  }

  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-icono i
  {
    transform: rotateY(180deg);
  }

  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-icono:before
  {
    left: auto;
    right: 0;
    transform: skewX(-10deg) translateX(50%);
  }

  #beneficios .bloque-beneficio:nth-child(even) .bloque-beneficio-cuerpo
  {
      order: 1;
  }

}





#conocelo
{
  background-color: #e9e9e9;
  padding-bottom: 90px;
  padding-top:90px;
}


#preguntas
{
  background-color: #d8d8d8;
  padding-bottom: 90px;
  padding-top:90px;
}

#contactanos
{
  background-color: #f3f3f3;
  padding-bottom: 90px;
  padding-top:90px;
}

.container-especial
{
  width: 77%;
}



#contactanos .error
{
  color: #ed1a3b;
  font-weight: 400;
}

#contactanos input.error,
#contactanos textarea.error
{
  color: #ed1a3b;
  border-color: #ed1a3b;
}

#contactanos .error::placeholder{ color:#ed1a3b}
#contactanos .error::-webkit-input-placeholder{ color:#ed1a3b}
#contactanos .error::-moz-placeholder{ color:#ed1a3b}
#contactanos .error:-ms-input-placeholder{ color:#ed1a3b}
#contactanos .error:-moz-placeholder{ color:#ed1a3b}

#contactanos p {
    font-size: 13px;
}

#contactanos .row-centrado
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contactanos .bloque-gracias
{

}

#contactanos .bloque-gracias h2
{
    font-family: 'Toyota Display', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 20px;
    color: #555555;
    margin-top: 0;
    text-transform: uppercase;
}


#contactanos .bloque-gracias p
{
    font-family: toyotadisplay_rg;
    font-size: 13px;
    letter-spacing: initial;
    color: #555555;
        line-height: 1.42857143;
}

#contactanos .bloque-gracias a
{
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    margin: 0 7.5px;
}

@media(max-width: 1199px)
{
  .solo-desktop
  {
    display: none;
  }

  .solo-mobile
  {
    display: block;
  }

  #beneficios .bloque-beneficio
  {
    padding-top: 15px;
  }

  #beneficios .bloque-beneficio-icono
  {
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin-bottom: 30px;
  }

  #beneficios .bloque-beneficio-icono h3
  {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #beneficios .bloque-beneficio-icono img
  {
    height: 35px;
    padding-right: 15px;
  }

  #beneficios .bloque-beneficio-icono i
  {
    font-size: 15px;
  }

  #beneficios .bloque-numero
  {
    font-size: 15px;
    padding: 7.5px;
  }

  #beneficios .bloque-beneficio-cuerpo
  {
    width: 100%;
    text-align: center;
    padding: 30px 0 30px;
    position: relative;
  }

  #beneficios .bloque-beneficio-cuerpo:before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c91123;
    width: 25%;
    height: 1px;
  }

  #beneficios .bloque-beneficio-cuerpo p
  {
    font-size: 13px;
    line-height: 1.5;
  }

  #beneficios .bloque-beneficio-cuerpo p i
  {
    font-size: 12px;
  }

  #beneficios .bloque-beneficio-icono:before
  {
    width: 15px;
  }
}


@media(max-width: 767px)
{
  label
  {
    font-size: 13px;
  }

  .container-especial
  {
    width: 84%;
  }



  .titulo-2
  {
    margin-bottom: 30px;
  }

  .acordion,
  .cuerpo-acordion
  {
    text-align: center;
  }

  .acordion
  {
    padding: 15px;
    line-height: 1.5;
    font-size: 13px;
  }

  .acordion i
  {
    right: 7.5px;
    top: 20px;
  }

  .cuerpo-acordion
  {
    padding: 15px;
    line-height: 1.5;
  }

  .cuerpo-acordion p
  {
      font-size: 13px;
  }

  .titulo
  {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  .titulo span
  {
    font-size: 25px;
  }

  #menu-gris
  {
    display: none;
  }

  #contactanos,
  #preguntas,
  #conocelo,
  #beneficios
  {
    padding-bottom: 43px;
    padding-top: 43px;
  }

  #beneficios .titulo{
    margin-bottom: 30px;
  }


}
